@using Mangarr.Shared.Models
@if (Items.Count == 0)
{
    <div class="p-4">
        <p class="lead">No chapters indexed (yet)</p>
    </div>
}
else
{
    <div id="manga-chapters-wrapper" class="d-flex flex-grow-1 p-4">
        <div id="manga-chapters" class="flex-grow-1 border rounded">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Chapter</th>
                        <th>Released</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < Items.Count; i++)
                    {
                        MangaChapterModel item = Items[i];
                        <ContentListItem Item="@item" Index="@(Items.Count - i)"/>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
