<div id="wrapper" class="overflow-auto p-4">
    <div class="mb-4">
        <form class="border rounded p-2">
            <p class="lead">Advanced</p>
            <input class="form-control mt-2" type="text" @oninput="SearchQueryChanged" placeholder="Custom search query"/>
        </form>
    </div>

    @if (_isSearching)
    {
        <Spinner/>
    }
    else if (_items.Count == 0)
    {
        <p class="lead">Please enable at least one source in the settings</p>
    }
    else
    {
        @foreach (SourceDocument item in _items)
        {
            <ContentSource Item="@item" SearchId="@SearchId" CustomSearchQuery="@CustomSearchQuery"/>
        }
    }
</div>
