.search-result {
    height: 250px;
    margin-bottom: 1rem;
    transition: box-shadow 0.3s;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.search-result:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.search-result-cover {
    position: relative;
    left: 1px;
    top: 1px;
    width: 175px;
    height: 246px;
}
