<div id="wrapper" class="overflow-auto d-flex flex-column p-4">
    <p class="lead">Sources</p>

    <div class="mb-4">
        <form>
            <input class="form-control mt-2" type="text" @oninput="FilterChanged" placeholder="filter"/>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Website</th>
                <th>Enabled</th>
            </tr>
            </thead>
            <tbody>
            @foreach (SourceDocument item in _items)
            {
                <ContentItem Item="@item"/>
            }
            </tbody>
        </table>
    </div>
</div>
