@using Mandarr.Shared.Models
@if (Items.Count == 0)
{
    <div class="p-4">
        <p class="lead">No chapters indexed (yet)</p>
    </div>
}
else
{
    <div id="manga-chapters-wrapper" class="d-flex flex-grow-1 p-4">
        <div id="manga-chapters" class="flex-grow-1 border rounded">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Chapter</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (int i = Items.Count - 1; i >= 0; i--)
                    {
                        int index = i;
                        MangaChapterModel item = Items[index];
                        <ContentListItem Item="@item" Index="@(index + 1)"/>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
