<div id="wrapper" class="overflow-auto d-flex flex-column p-4">
    <div>
        <h1 class="lead mb-4">Root Folders</h1>
        <form>
            <input class="form-control" required type="text" @bind="_rootFolderPath" id="input-storage-path" placeholder="/path/to/directory">
            <button class="btn btn-primary mt-2" @onclick="OnAddRootFolderClicked" type="submit">Add</button>
        </form>
        <br/>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Path
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (RootFolderDocument rootFolder in RootFolderRepository.Items)
                {
                    <tr>
                        <td>
                            @rootFolder.Path
                        </td>
                        <td class="col-1">
                            <a href="#" class="@(RootFolderRepository.Count() == 1 ? "disabled" : "")" @onclick="() => OnRemoveRootFolderClicked(rootFolder.Id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
