@inherits LayoutComponentBase

<PageTitle>Mangarr.Frontend</PageTitle>

<HeaderLayout/>
<div id="container" class="position-relative d-flex flex-grow-1 flex-shrink-1 overflow-hidden">
    <NavigationLayout/>
    <div id="content" class="d-flex flex-grow-1 flex-column position-relative w-100 overflow-hidden">
        @Body
    </div>
</div>


@* <div class="page"> *@
@*     <div class="sidebar"> *@
@*         <NavMenu/> *@
@*     </div> *@
@* *@
@*     <main> *@
@*         <div class="top-row px-4"> *@
@*             <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
@*         </div> *@
@* *@
@*         <article class="content px-4"> *@
@*             @Body *@
@*         </article> *@
@*     </main> *@
@* </div> *@
