<div id="wrapper" class="overflow-auto d-flex flex-column p-4">
    <div>
        <h1 class="lead mb-4">Root Folder</h1>
        <form>
            <input class="form-control" type="text" id="input-storage-path" placeholder="/path/to/directory">
        </form>
    </div>
</div>
