<div id="toolbar" class="d-flex justify-content-between flex-shrink-0 flex-grow-0">
    <div id="toolbar-left" class="ms-3 d-flex">
        <button class="btn h-100" type="button">
            <i class="fa fa-save fs-2"></i>
        </button>
    </div>
</div>
