@using Humanizer
<tr>
    <td class="align-middle">
        @Item.Description
    </td>
    <td class="align-middle">
        @if (Item.PreviousFireTime.HasValue)
        {
            TimeSpan timeSinceLastRun = DateTimeOffset.UtcNow - Item.PreviousFireTime.Value;
            <span>@timeSinceLastRun.Humanize() ago</span>
        }
        else
        {
            <span>-</span>
        }
    </td>
    <td class="align-middle">
        @if (Item.NextFireTime.HasValue)
        {
            TimeSpan timeUntilNextRun = Item.NextFireTime.Value - DateTimeOffset.UtcNow;
            <span>in @timeUntilNextRun.Humanize()</span>
        }
        else
        {
            <span>-</span>
        }
    </td>
    <td>
        @if (_isRequesting)
        {
            <input type="button" class="btn btn-primary btn-sm disabled" value="Request" @onclick="RequestClicked"/>
        }
        else
        {
            <input type="button" class="btn btn-primary btn-sm" value="Request" @onclick="RequestClicked"/>
        }

    </td>
</tr>
