<div class="content-item col">
    <a class="d-block" href="/manga/@Id">
        <img class="content-image" src="@ImageUrl" alt="@Item.Title cover">
        <div class="title-wrapper position-absolute bottom-0 start-0 w-100 mh-100 bg-dark text-light m-0 p-2">
            @Title
        </div>
    </a>
</div>
