@using Mangarr.Shared.Models

@code {

    [Parameter] public string Mode { get; set; }

}

<div id="wrapper" class="overflow-auto p-4">
    @if (_isRefreshing)
    {
        <Spinner/>
    }
    else if (_items.Count == 0)
    {
        <p class="lead">Click 'Add New' in the menu bar to add manga!</p>
    }
    else
    {
        if (Mode == "cards")
        {
            <div id="items" class="row row-cols-auto g-0">
                @foreach (MangaListDetailsModel item in _items)
                {
                    <ContentCardItem Item="@item"/>
                }
            </div>
        }
        else if (Mode == "list")
        {
            <div id="items" class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Chapters</th>
                        <th scope="col">Links</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (MangaListDetailsModel item in _items)
                    {
                        <ContentListItem Item="@item"/>
                    }
                    </tbody>
                </table>
            </div>
        }
    }
</div>
